services:
    user_password_lost.form.new_password:
        autowire: true
        class: inem0o\UserPasswordLostBundle\Form\NewPasswordType
        arguments: ['@translator.default','%user_password_lost.forms%']
        tags:
            - { name: form.type }
    user_password_lost.form.password_reset:
        autowire: true
        class: inem0o\UserPasswordLostBundle\Form\PasswordResetRequestType
        arguments: ['@translator.default','%user_password_lost.forms%']
        tags:
            - { name: form.type }
    inem0o\UserPasswordLostBundle\Controller\:
        autowire: true
        public: true
        autoconfigure: true
        resource: '../../Controller'
        tags: ['controller.service_arguments']
