<html>
<body>
<div>
    {% autoescape false %}
        {% trans with {'%reset_request_link%': url('handle_password_reset_request',{token:password_reset_request.getToken()})} from "userPasswordLostBundle" %}user_password_lost_bundle.email.reset_request{% endtrans %}
    {% endautoescape %}
</div>
</body>
</html>